<%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
<br/>
<br/>
<%= render @friend %>
<div>
  <table>
    <tbody>
      <tr>
        <td><%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary"  %></td>
        <td><%= button_to "Destroy this friend", @friend, method: :delete, class:"btn btn-secondary"  %></td>
      </tr>
    </tbody>
  </table>
</div>
